
// COLORS:
$valueColor: #8b28a7;
$orangeApple: #e78428d2;
$redAccent: #f0145a;
$bgGreen: #44B26F;
$basicWhite: white;
$basicBlack: black;
$textColor: #EDEDF7;
$greyColor: #726969;
$bgColor: #F5F5FA;
$bgSilva: #151e1e;
$bgSilvaAlt: #3d5c5c;
$severColor: #9e9b9b;

// RADIUS:
$radius-sm: 8px;
$radius-md: 12px;
$radius-xl: 24px;
$radius-rounded: 50%;

// BREAKPOINTS
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1440px;
$breakpoint-xxl: 1920px;